In [ ]:
import requests

url = "https://api.sportradar.com/tennis/trial/v3/en/competitions.json?api_key=IEpNyO2jLKc90B59huA9Jr4DfHTSvn5ZJpXDqE41"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)




#so we imported data from sportradar api data

In [32]:
json_data=response.json()

#so i am converting json into dictionary format hence to convert into data frame to proceede

In [33]:
all_competitions = []

#an empty list

In [34]:
for competition in json_data["competitions"]:  #why?  #so i used for loop to call all the list present in the given data 
        
        
        competition_info = {
            "id": competition.get("id"),
            "name": competition.get("name"),
            "type": competition.get("type"),
            "gender": competition.get("gender"),
            "category_id": competition.get("category", {}).get("id"),
            "parent_id": competition.get("parent_id")
    
            
        
        }

        all_competitions.append(competition_info)

In [35]:
import pandas as pd

In [36]:
df = pd.DataFrame(all_competitions)

In [40]:
df.count()

id             5798
name           5798
type           5798
gender         5798
category_id    5798
parent_id      5798
dtype: int64

In [38]:
df.fillna("NOT",inplace=True)

In [ ]:
df.count()

In [18]:
df.shape

(5796, 6)

In [ ]:
df

In [42]:
df.to_csv("table_1.csv",index=False)

In [16]:
import pandas as pd

In [11]:
all_category=[]

In [12]:

for category in json_data["competitions"]:
     category_info = {
          "category_id": category.get("category", {}).get("id"),
          "category_name": category.get("category", {}).get("name")
        
     }
     all_category.append(category_info)

In [13]:
df2=pd.DataFrame(all_category)

In [ ]:
df2

In [21]:
df2.count()

category_id      5798
category_name    5798
dtype: int64

In [23]:
df2.nunique()

category_id      16
category_name    16
dtype: int64

In [24]:
df2.drop_duplicates(inplace=True)

In [25]:
df2

           category_id        category_name
0      sr:category:181           Hopman Cup
1        sr:category:3                  ATP
2       sr:category:72           Challenger
3        sr:category:6                  WTA
4       sr:category:76            Davis Cup
5       sr:category:74       Federation Cup
356    sr:category:785              ITF Men
374    sr:category:213            ITF Women
679    sr:category:871             WTA 125K
920   sr:category:1012                 IPTL
921     sr:category:79           Exhibition
1339  sr:category:1474              Juniors
1343  sr:category:1476          Wheelchairs
1347  sr:category:1475              Legends
4848  sr:category:2400  Wheelchairs Juniors
5009  sr:category:2414           United Cup

In [26]:
df2.to_csv("table_2.csv",index=False)

COMPLEXES DATA

In [ ]:
import requests

url = "https://api.sportradar.com/tennis/trial/v3/en/complexes.json?api_key=IEpNyO2jLKc90B59huA9Jr4DfHTSvn5ZJpXDqE41"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

print(response.text)

In [53]:
json_compdata=response.json()

In [54]:
comp_data=[]

In [55]:
for complexes in json_compdata["complexes"]:
     complexes_info = {
          "complex_id": complexes.get("id"),
          "complex_name": complexes.get("name")
        
     }
     comp_data.append(complexes_info)

In [56]:
df3=pd.DataFrame(comp_data)

In [ ]:
df3

In [58]:
df3.count()

complex_id      609
complex_name    609
dtype: int64

In [59]:
df3.to_csv("table_3.csv",index=False)

In [35]:
venue_data=[]

In [36]:
complexes = json_compdata['complexes']

In [37]:
for complex_info in json_compdata["complexes"]:
    for venue in complex_info.get('venues', []):
        venue_info = {
            "complex_id": complex_info['id'],
            
            "venue_id": venue['id'],
            "venue_name": venue['name'],
            "city_name": venue['city_name'],
            "country_name": venue['country_name'],
            "country_code": venue['country_code'],
            "timezone": venue['timezone']
        }
        venue_data.append(venue_info)

In [38]:
df4=pd.DataFrame(venue_data)

In [ ]:
df4

In [40]:
df4.count()

complex_id      3145
venue_id        3145
venue_name      3145
city_name       3145
country_name    3145
country_code    3145
timezone        3145
dtype: int64

In [41]:
df4.to_csv("table_4.csv",index=False)

Doubles Competitor Rankings

In [ ]:
import requests

url = "https://api.sportradar.com/tennis/trial/v3/en/double_competitors_rankings.json?api_key=IEpNyO2jLKc90B59huA9Jr4DfHTSvn5ZJpXDqE41"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

In [43]:
double=response.json()

In [44]:
double_rank=[]

In [45]:
for comp in double["rankings"]:
    for ranks in comp.get( "competitor_rankings",[]):
        rank_info={
            "rank":ranks["rank"],
            "movement":ranks["movement"],
            "points":ranks["points"],
            "competitions_played":ranks["competitions_played"],
            "competitor_id":ranks["competitor"].get("id")
        }
        double_rank.append(rank_info)

In [46]:
df5=pd.DataFrame(double_rank)

In [ ]:
df5

In [48]:
df5.count()

rank                   1000
movement               1000
points                 1000
competitions_played    1000
competitor_id          1000
dtype: int64

In [ ]:
df5

In [49]:
df5.to_csv("table_5.csv",index=False)

Competitors Table

In [50]:
comp1=[]

In [51]:
for comp in double["rankings"]:
    for ranks in comp.get( "competitor_rankings",[]):
        compx_info={
            "competitor_id":ranks["competitor"].get("id"),
            "name":ranks["competitor"].get("name"),
            "country":ranks["competitor"].get("country"),
            "country_code":ranks["competitor"].get("country_code"),
            "abbreviation":ranks["competitor"].get("abbreviation")
        }
        comp1.append(compx_info)

In [52]:
df6=pd.DataFrame(comp1)

In [ ]:
df6

In [56]:
df6.count()

competitor_id    1000
name             1000
country          1000
country_code     1000
abbreviation     1000
dtype: int64

In [55]:
df6.fillna("NULL",inplace=True)

In [58]:
df6.to_csv("table_6.csv",index=False)

In [59]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\abuha\appdata\local\programs\python\python313\lib\site-packages (9.1.0)

In [1]:
import mysql.connector




connection= mysql.connector.connect(
 host= "localhost",
 user= "root",
 password="",
 database="tennis"


)


print(connection)
mycursor = connection.cursor()

<mysql.connector.connection.MySQLConnection object at 0x0000015620DC3E00>

Data Analysis:
       Execute the Following SQL queries;
1) List all competitions along with their category name
2) Count the number of competitions in each category
3) Find all competitions of type 'doubles'
4) Get competitions that belong to a specific category (e.g., ITF Men)
5) Identify parent competitions and their sub-competitions
6) Analyze the distribution of competition types by category
7) List all competitions with no parent (top-level competitions)

In [2]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\abuha\appdata\local\programs\python\python313\lib\site-packages (0.9.0)

In [ ]:
#1) List all competitions along with their category name
mycursor.execute("""SELECT table_1.name,table_2.category_name FROM table_1
                  INNER JOIN table_2 ON table_1.category_id = table_2.category_id;""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#2)Count the number of competitions in each category
mycursor.execute("""SELECT category_name, COUNT(name) 
FROM (
    SELECT 
        table_1.name, 
        table_2.category_name
    FROM table_1
    INNER JOIN table_2
    ON table_1.category_id = table_2.category_id
) AS combined_table
GROUP BY category_name ORDER BY COUNT(name)""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#3) Find all competitions of type 'doubles'
mycursor.execute("select type,name from table_1 where type='doubles' ")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#4) Get competitions that belong to a specific category (e.g., ITF Men)
mycursor.execute("""select name,category_name from (
                 SELECT 
                table_1.name, 
                table_2.category_name
                FROM table_1
                INNER JOIN table_2
                ON table_1.category_id = table_2.category_id) AS joint
                where category_name='ITF Men' """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#5) Identify parent competitions and their sub-competitions
mycursor.execute("SELECT parent_id, category_id from table_1")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#6) Analyze the distribution of competition types by category

mycursor.execute("SELECT category_id,name, count(name) from table_1 group by category_id")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#7) Identify parent competitions and their sub-competitions
mycursor.execute("SELECT name AS comprtition_list from table_1 WHERE parent_id ='NOT' ")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#1)List all venues along with their associated complex name
mycursor.execute("""SELECT table_4.venue_name,table_3.complex_name FROM table_4 
                 inner join table_3 ON table_4.complex_id=table_3.complex_id""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#2Count the number of venues in each complex
mycursor.execute(""" SELECT 
    table_3.complex_name, 
    COUNT(table_4.venue_name) AS venue_count
FROM 
    table_4
JOIN 
    table_3
ON 
    table_4.complex_id = table_3.complex_id
GROUP BY 
    table_3.complex_name order by venue_count ;
 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#3)Get details of venues in a specific country (e.g., Chile)
mycursor.execute("SELECT country_name,venue_id,venue_name,city_name,country_code,timezone from table_4 WHERE country_name='Chile' ")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#4)Identify all venues and their timezones
mycursor.execute("SELECT venue_name, timezone FROM table_4 ")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#5)Find complexes that have more than one venue
mycursor.execute("""SELECT complex_id FROM (SELECT COUNT(venue_id) as venue_id_count, complex_id FROM table_4 GROUP BY complex_id) 
                 AS childquery
                  WHERE venue_id_count>1 """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#6)List venues grouped by country
mycursor.execute("SELECT country_name, GROUP_CONCAT(venue_name) AS venues FROM table_4 GROUP BY country_name ;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#7)Find all venues for a specific complex (e.g., Nacional)
mycursor.execute("""SELECT venue_name,complex_name FROM (SELECT table_4.venue_name,table_3.complex_name FROM table_4
                 inner join table_3 ON table_4.complex_id=table_3.complex_id) AS joined_table WHERE complex_name='Porsche-Arena';""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#1)Get all competitors with their rank and points.
mycursor.execute("""SELECT table_6.name,table_5.rank,table_5.points
                FROM table_6 inner join table_5 ON 
                 table_6.competitor_id=table_5.competitor_id""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#Find competitors ranked in the top 5
mycursor.execute("""SELECT table_6.name,table_5.rank
                FROM table_6 inner join table_5 ON 
                 table_6.competitor_id=table_5.competitor_id ORDER BY rank LIMIT 5""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#3)List competitors with no rank movement (stable rank)
mycursor.execute("""SELECT table_6.name, table_5.rank
FROM table_6
INNER JOIN table_5 
    ON table_6.competitor_id = table_5.competitor_id
WHERE table_5.rank = table_5.rank
ORDER BY rank""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [82]:
#4)Get the total points of competitors from a specific country (e.g., Croatia)
mycursor.execute("""SELECT  country, sum(points) AS sum_of_points FROM (SELECT table_6.country,table_5.points
                FROM table_6 inner join table_5 ON 
                 table_6.competitor_id=table_5.competitor_id) AS NEWTABLE WHERE country = 'USA' """)
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------+-----------------+
| country   |   sum_of_points |
|-----------+-----------------|
| USA       |           88009 |
+-----------+-----------------+

In [ ]:
#5)Count the number of competitors per country
mycursor.execute("SELECT country,COUNT(name) AS Total_competitor from table_6 group by country order by Total_competitor DESC")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [86]:
#6Find competitors with the highest points in the current week
mycursor.execute("SELECT max(points) AS APEX_POINT from TABLE_5")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------+
|   APEX_POINT |
|--------------|
|         9530 |
+--------------+